rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Дозволити повний доступ до всіх колекцій та документів
    match /{document=**} {
      allow read, write: if true;
    }

  }
}
